<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" ></header>

        <a th:href="@{/agregar}">Crear Usuario</a>
       <div th:if="${users != null and !users.empty}">
            <table border="1">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Email</th>
                    <th>Lastname</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.date}">muestra fecha</td>
                    <td th:text="${user.email}">muestra email</td>
                    <td th:text="${user.lastname}">muestra apellido</td>
                    <td th:text="${user.name}">muestra nombre</td>
                    <td><a th:href="@{/edit/}+ ${user.id}" th:text="Edit"></a></td>
                    <td><a th:href="@{/delete/}+ ${user.id}" th:text="Delete"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${users == null or users.empty}">
        La lista de personas está vacía hp
        </div>
        <<footer th:replace="layout/plantilla :: footer" ></footer>
    </body>
</html>